<!DOCTYPE html>
<html>
    <head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/semantic.material.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="ui menu">
            <div class="header item">DH Uni Passau</div>
            <div class="ui dropdown item" tabindex="0">
                Projekte
                <i class="dropdown icon"></i>
                <div class="menu" tabindex="-1">
                    <div class="item" href="/projects/dh4webarchive">dh4webarchive</div>
                </div>
            </div>
            <div class="right menu">
                <a class="item" href="/contact">Kontakt</a>
            </div>
        </div>
	<div class="container">
	    {{ content }}
	</div>
	<footer>
	    <ul>
	        <li><a href="/contact">Kontakt</a></li>
	    </ul>
	</footer>
    </body>
</html>
