<!DOCTYPE html>
<html>
    <head>
	<title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<!--<link rel="stylesheet" type="text/css" href="/css/semantic.material.min.css">-->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="ui menu">
            <div class="header item">DH Uni Passau</div>
            <div class="ui dropdown item" tabindex="0">
		<div class="text">Projekte</div>
                <i class="dropdown icon"></i>
                <div class="menu" tabindex="-1">
                    <div class="item">
                        <a href="/projects/dh4webarchive">dh4webarchive</a>
                    </div>
                </div>
            </div>
            <div class="right menu">
                <a class="item" href="/contact">Kontakt</a>
            </div>
        </div>
	<div class="ui container">
	    {{ content }}
	</div>
	<footer>
            <div class="ui container">
	        <div class="ui horizontal bulleted link list">
                    <a class="item" href="/contact">Kontakt</a>
                </div>
            </div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
        <script type="text/javascript">
         $('.dropdown').dropdown()
        </script>
    </body>
</html>
